<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
    
    <!DOCTYPE html>
    <html>
    <link rel="stylesheet" href="/style.css">
    <head>
	<title>People</title>
	<link href="style.css" rel="stylesheet" type="text/css" />



	</script>
</head>

    <body onload="browseAccounts()">
    <div id="browse">
    <caption>Accounts</caption>
    <table border="1" cellpadding="5">
    <thead> 
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in accounts[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every account in Accounts -->
    {% for account in accounts %}
    <tr>
        <!-- Then iterate through every key in the current account dictionary -->
        {% for key in account.keys() %}
        <!-- Create a <td> element with the value of that key in it -->
        <td>{{account[key]}}</td>
        {% endfor %}
        <td><a href="/transaction" class="btn btn-default">Transactions</a></td>
        <td><a href="edit_account/{{account.account_id}}" class="btn btn-default">Edit</a></td>
		<td><a href="delete_account/{{account.account_id}}" class="btn btn-default">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    <p>&nbsp;</p>
    </div>	<!-- browse -->


	<div id="insert">
    <!-- form to INSERT new data into Accounts-->
    <form id="Add_Account" action="/accounts" method="POST">
        <legend><strong>Add Account</strong></legend>
        <fieldset>
            <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
            <label for="name">Account No:</label>
            <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="" required>

            <label for="balance">Account Balance:</label>
            <input type="text" class="form-control" id="balance" name="balance" pattern="[0-9]{1,}" placeholder="" required>
        </fieldset>

        <!-- Create 'Add Account' and 'Cancel' buttons -->
        <input type="submit" value="Add Account" name="Add_Account" class="btn btn-primary" style="margin:.5rem;">
        <input class="btn" type="button" value="Cancel" onClick="browseAccounts()"> 
    </form>
</div><!--insert-->

	<div id="edit">
    <!-- form to edit data in Accounts-->
    <form id="editAccount" action="/edit_accounts/{{accounts[0].id}}" method="POST">
        <legend><strong>Edit Account</strong></legend>
        <fieldset>
            <input type="hidden" value="{{accounts[0].id}}" class="form-control" id="accountID" name="accountID" required>
            <label for="type">Account Type:</label>

            <input type="text" class="form-control" id="type" name="type" pattern="[A-Za-z0-9]{1,}" placeholder="{{accounts[0].type}}" required>
            <label for="balance">Account Balance:</label>

            <input type="text" class="form-control" id="balance" name="balance" pattern="[0-9]{1,}" placeholder="{{accounts[0].balance}}" required> 
        </fieldset>
        <input class="btn" type="button" value="Cancel" onClick="browseAccounts()" style="margin:.5rem;"> 
    </form>
</div><!--edit-->


    <td><a href="/" class="btn btn-default">Return</a></td>
</body>
</html>