<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
    
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/style.css">
<head>
<title>Branches</title>
<link rel="stylesheet" href="/static/css/style.css">
<nav>
    <a href="/account" class="btn btn-default">Accounts</a>
    <a href="/customer" class="btn btn-default">Customers</a>
    <a href="/cards" class="btn btn-default">Cards</a>
    <a href="/branches" class="btn btn-default">Branches</a>
</nav>


</head>

    <body>
    <div id="browse">

    <h1>Branches</h1>
    {% if Branches %}
    <table border="1" cellpadding="5">
    <thead> 
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Branches[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every account in Accounts -->
    {% for branch in Branches %}
    <tr>
        <!-- Then iterate through every key in the current account dictionary -->
        <td>{{branch.branch_id}}</td>
        <td>{{branch.branch_name}}</td>
        <td>{{branch.address}}</td>
        <td>{{branch.phone}}</td>
        <td>{{branch.manager}}</td>
        
        
        <td><a href="edit_branch/{{branch.branch_id}}" class="btn btn-default">Edit</a></td>
		<td><a href="delete_branch/{{branch.branch_id}}" class="btn btn-default">Delete</a></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <p>&nbsp;</p>
    </div>	<!-- browse -->


	<div id="insert">
    <!-- form to INSERT new data into Cards-->
    <form id="Add_Branch" action="/branches" method="POST">
        <legend><strong>Add Branch</strong></legend>
        <fieldset>
            <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
            <label for="branch_id"> Branch ID </label>
            <input type="number" class="form-control" id="branch_id" name="branch_id" placeholder="" required>
            <label for="branch_name">Branch Name</label>
            <input type="text" class="form-control" id="branch_name" name="branch_name" placeholder="" required>
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address"  placeholder="" required>
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="" required>
            <label for="manager">Manager</label>
            <input type="text" class="form-control" id="manager" name="manager" placeholder="" required>
        </fieldset>

        <!-- Create 'Add Branch' and 'Cancel' buttons -->
        <input type="submit" value="Add Branch" name="Add_Branch" class="btn btn-primary" style="margin:.5rem;">
    </form>
</body>
 <a href="/" class="btn btn-default"><button>Home</button></a>
</html>