<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="tabs">
        <a href="/" class="tab">Home</a> 
    </div>

    <h2>Update Branch</h2>
    <form method="POST">
        <label for="branch_id">branch_id:</label>
        <input type="number" id="branch_id" name="branch_id" value="{{ Branch.branch_id }}">
        <br>
        <label for="branch_name">branch_name:</label>
        <input type="text" id="branch_name" name="branch_name" value="{{ Branch.branch_name }}">
        <br>
        <label for="address">address:</label>
        <input type="text" id="address" name="address" value="{{ Branch.address }}">
        <br>
        <label for="phone">phone:</label>
        <input type="text" id="phone" name="phone" value="{{ Branch.phone }}">
        <br>
        <label for="manager">manager:</label>
        <input type="text" id="manager" name="manager" value="{{ Branch.manager }}">
        <br>
        <input type="submit" value="Update Branch">
    </form>
</body>
</html>
