<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
    
    <!DOCTYPE html>
    <html>

    <head>
	<title>Cards</title>
	<link rel="stylesheet" href="/static/css/style.css">
    <nav>
<a href="/account" class="btn btn-default">Accounts</a>
<a href="/customer" class="btn btn-default">Customers</a>
<a href="/cards" class="btn btn-default">Cards</a>
<a href="/branches" class="btn btn-default">Branches</a>
</nav>


	</script>
</head>

    <body>
    <div id="browse">
    <h1>Cards</h1>
    {% if Cards %}
    <table border="1" cellpadding="5">
    <thead> 
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Cards[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>


        <!-- Now, iterate through every card in Cards -->
        {% for card in Cards %}
        <tr>
            <td>{{card.card_id}}</td>
            <td><a href="/transaction/{{card.account_id}}" class="btn btn-default">{{card.account_id}}</a></td>
            <td>{{card.security_code}}</td>
            <td>{{card.exp_date}}</td>
            
            <td><a href="edit_card/{{card.card_id}}" class="btn btn-default">Edit</a></td>
            <td><a href="delete_card/{{card.card_id}}" class="btn btn-default">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    <p>&nbsp;</p>
    </div>	<!-- browse -->


	<div id="insert">
    <!-- form to INSERT new data into Cards-->
    <form id="Add_Card" action="/cards" method="POST">
        <legend><strong>Add Card</strong></legend>
        <fieldset>
            <label for="card_id"> Card ID </label>
            <input type="number" class="form-control" id="card_id" name="card_id" placeholder="" required>
                <label for="type">Account No.</label>
                <select class="form-control" id="account_id" name="account_id" placeholder="" required>
                    <option value="0">&nbsp;</option>
                    {% for account in Accounts %}
                        <option>{{account.account_id}}</option>
                    {% endfor %}
                </select>
            <label for="security_code">SCC</label>
            <input type="text" class="form-control" id="security_code" name="security_code"  placeholder="" required>
            <label for="exp_date">exp_date</label>
            <input type="date" class="form-control" id="exp_date" name="exp_date" placeholder="" required>
        </fieldset>

        <!-- Create 'Create Card' button-->
        <input type="submit" value="Add Card" name="Add_Card" class="btn btn-primary" style="margin:.5rem;">
    </form>
 <a href="/" class="btn btn-default"><button>Home</button></a>
</body>
</html>