<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="tabs">
        <a href="/" class="tab">Home</a> 
    </div>

    <h2>Update Card</h2>
    <form method="POST">
        <label for="card_id">card_id:</label>
        <input type="number" id="card_id" name="card_id" value="{{ Cards.card_id }}">
        <br>
        <label for="account_id">account_id:</label>
        <input type="number" id="account_id" name="account_id" value="{{ Cards.account_id }}">
        <br>
        <label for="security_code">scc:</label>
        <input type="number" id="security_code" name="security_code" value="{{ Cards.security_code }}">
        <br>
        <label for="exp_date">exp_date:</label>
        <input type="date" id="exp_date" name="exp_date" value="{{ Cards.exp_date }}">
        <br>
        <input type="submit" value="Update Card">
    </form>
</body>
</html>
