<html>
<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->

<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css">

<head>
    <title>Customers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    </script>
</head>

<body>
        <div>
        <caption>Customers</caption>
        <table border="1" cellpadding="5">

    {% if customers %}
            <thead>
                <tr>
                    <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in customers[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
            <tbody>


                <!-- Now, iterate through every customer in customers -->
                {% for customer in customers %}
                <tr>
                    <!-- Then iterate through every key in the current customer dictionary -->
                    {% for key in customer.keys() %}
                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{customer[key]}}</td>
                    {% endfor %}
                    <td><a href="edit_customers/{{customer.ID}}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_customers/{{customer.ID}}" class="btn btn-default">Delete</a></td>
                </tr>
                {% endfor %}
        </table>
        <p>&nbsp;</p>
        </div> <!-- browse -->
    {% endif %}
    <div id="insert">
        <!-- form to INSERT new data into Customers-->
        <form id="Add_Customer" action="/customer" method="post">
            <fieldset>
                <!-- Customer Create Form -->
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="" required>
                <label for="address">Address:</label>
                <input type="text"  id="address" name="address" pattern="[A-Za-z0-9\s]{1,}"" placeholder="" required>
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" value="2005-01-01" min="1900-01-01" max="2023-12-31" required />
                <label for="phone">Phone No.:</label>
                <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9]{1,}" placeholder="" required>
            </fieldset>
            <!-- Create 'Add Customer' button-->
            <input type="submit" value="Add Customer" name="Add_Customer" class="btn btn-primary" style="margin:.5rem;">
        </form>
     <td><a href="/" class="btn btn-default">Return</a></td>
</body>

</html>
