<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
<html>
<head>
    <title>Mohamed Ari & Hoang Tran CS340 Project</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Simple Banking Admin Frontend</h1>
    <h3>Links to database tables</h3>
</body>
<nav>
<a href="/account" class="btn btn-default">Accounts</a>
<a href="/customer" class="btn btn-default">Customers</a>
<a href="/cards" class="btn btn-default">Cards</a>
<a href="/branches" class="btn btn-default">Branches</a>
</nav>
</html>

