<!--Based on templates sourced from https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->

 <link rel="stylesheet" href="/static/css/style.css">
 <h2>Account No. :{{ID}}</h2>
 <caption>Account Transactions: </caption>
    <table border="1" cellpadding="5">
    <thead>
    
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Transactions[0].keys() %}
        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every transaction in Transactions-->
    {% for transaction in Transactions %}
    <tr>
        <td>{{transaction.transaction_id}}</td>
        <td>{{transaction.destination_id}}</td>
        <td>${{transaction.amount}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.comments}}</td>
        <td>{{transaction.sender_id}}</td>
    </tr>
    {% endfor %}
    </table>
  



   <caption>Customers in Account</caption>
    <table border="1" cellpadding="5">
    <thead>
    
    <tr>
        <th>Name</th>
        <th>Client At</th>
    </tr>
    <tbody>

    <!-- Now, iterate through every customer in Customers-->
    {% for customer in In_acc %}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.branch_name}}</td>
		<td><form id="remove_from_acc" action="/remove_from_acc" method="post">
			<input type="hidden" value="{{ID}}" id="aid" name="aid" placeholder="">
            <input type="hidden" value="{{customer.id}}" id="cid" name="cid" placeholder="">               
            <input type="submit" value="Remove" name="remove_from_acc" class="btn btn-primary" style="margin:.5rem;"></td>
			</form>
    </tr>
    {% endfor %}
    </table>

     <div id="insert">
		<!-- form to INSERT a new customer into Account-->
		<form id="Add_to_Acc" action="/transaction/{{ID}}" method="post">
			<legend><strong>Add to account</strong></legend>
			<fieldset>
				<input type="hidden" class="form-control" value="{{ID}}" id="aid" name="aid" placeholder="">
				<select class="form-control" id="cid" name="cid" placeholder="" required>
					 {% for customer in Customers %}
                    <option value="{{customer.customer_id}}">{{customer.name}}, {{customer.customer_id}}</option>
                     {% endfor %}
				</select>
            </fieldset>
			<input type="submit" value="Add into Account" name="Add_to_Acc" class="btn btn-primary" style="margin:.5rem;">
        </form>
    <td><a href="/" class="btn btn-default">Return</a></td>